:root {
  --btn: #dbdbdb;
  --btn-hover: #cacaca;
  --item-bg: #f0f0f0;
  --modal-bg: rgba(141, 141, 141, 0.541);
}

body {
  padding: 1%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addEmployeeBtn {
  border-radius: 5%;
  align-items: center;
}

.employees {
  display: flex;
}

.employees > div {
  border: 1px solid black;
  overflow-y: scroll;
  height: 450px;
}

.employeeList {
  width: 30%;
  align-items: center;
}

.employeeDetail {
  width: 70%;
}

.employeeList,
.employeeDetails {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.employeesListTitle,
.employeesDetailTitle {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

.employeeList {
  display: flex;
  flex-direction: column;
}

.employeeNameItem {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  background-color: var(--item-bg);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.employeeNameItem:hover {
  background-color: var(--btn);
}

.employeeSingleHeading {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  padding: 5px;
}
.employeeNameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.employeeNameInfo > img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border-radius: 50%;
}

.addEmployee {
    display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bg);
}

.addEmployeeCreate {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 50px gray;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addEmployeeCreate > div {
  display: grid;
  grid-template-columns: 48.1% 48.1%;
  column-gap: 15px;
}

.addEmployeeCreate input {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(236, 236, 236);
}


.addEmployeeCreate input::-webkit-outer-spin-button,
.addEmployeeCreate input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.addEmployeeCreateSubmit {
    padding: 10px !important;
    border-radius: 5px;
    border: none;
    background-color: var(--btn);
    cursor: pointer;
}

.addEmployeeCreateSubmit:hover {
    background-color: var(--btn-hover);
}